.table{
  display:grid;
  width:70vw;
  margin:0 10%;
  font-family: "Helvetica Neue",Helvetica,Arial;
}
.id {
  grid-column-start:0;
  grid-column-end:1;
  border: 1px solid gray;
  padding:0.5rem 1rem;
  display:flex;
  justify-content: space-between;
  width:10vw;
}
.name{
  grid-column-start:1;
  grid-column-end:2;
  border: 1px solid gray;
  padding:0.5rem 1rem;
  display:flex;
  justify-content: space-between;
  width:20vw;
  overflow:hidden;
}
.email{
  grid-column-start:2;
  grid-column-end:3;
  border: 1px solid gray;
  padding:0.5rem 1rem;
  display:flex;
  justify-content: space-between;
  width:20vw;
  overflow: hidden;
}
.comment{ 
  grid-column-start:3;
  grid-column-end:4;
  border: 1px solid gray;
  padding:0.5rem 1rem;
  display:flex;
  justify-content: space-between;
  width:20vw;
  overflow: hidden;
}
.elements{
  display:grid;
  grid-row-start:1;
  grid-row-end:2;
}
.elements:last-of-type{
  border-bottom:2px solid black;
}
.head-of-table{
  display:grid;
  grid-row-start: 0;
  grid-row-end:1;
  border-bottom: 2px solid black;
}
/* полоса над таблицей */
.table-before{
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-size:1.1vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:2rem 0;
  width:80vw;
  margin:0 auto;
  padding-left:1vw;
  color:gray;
}
.select-element{
  text-align: center;
  white-space: nowrap;
  margin:0;
}
.quantity{
  width:60px;
  height:30px;
}
.search-by-name{ 
  height:25px;
  font-size:1.5vw;
}
/* кнопка сортировки */
.sortDec {
  border:0;
  background-color:#fff;
  animation-name: script;
  animation-timing-function: linear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}
.sort{
  border:0;
  background-color:#fff;
}
@keyframes script {
  0%   { transform: rotate(0); }
  100% { transform: rotate(180deg);}
}
.footer-of-table{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin:0 12vw;
}
.page{
  width:50px;
  height:30px;
  font-size: 1.5rem;
  text-align:center;
}
.nav-buttons{
  display: flex;
  flex-direction: row;
  margin-top:2vw;
  margin-left: 10vw;
  font-size: 1.2vw;
}

.page-navigation{
  border:0;
  height:30px;
  width:30px;
  background-color:#fff;
  font-size: 1.2vw;
  color:gray;
  width:auto;
  cursor:pointer;
}
.page-info{
  font-size: 1.3rem;
  margin-right: 10vw;
  margin-top: 2vw;
  color:gray;
}